@import "../../../packages/ui/src/styles.css";

@source "../**/*.{ts,tsx}";

.settings-dialog-height {
  height: 500px;
}

@media (max-width: 640px) {
  .settings-dialog-height {
    height: auto;
    max-height: 85svh;
  }
}

/* 스크롤바 숨기기 */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
