@import "tailwindcss";

@import "@repo/ui/theme.css";

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


pre {
  white-space: pre-wrap;
  color: #24292e;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Code styling */
.hljs-comment,
.hljs-quote {
  color: #6a737d;
}


.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #821a00;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #a44a00;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #409101;
}

.hljs-title,
.hljs-section {
  color: #6f42c1;
}

.hljs-variable,
.hljs-type,
.hljs-template-variable,
.hljs-template-tag,
.hljs-meta,
.hljs-keyword,
.hljs-selector-tag {
  color: #d73a49;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}