@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";
@import "./theme.css";
@source "../../node_modules/streamdown/dist/index.js";

/* Dark theme variant */
@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  * {
    @apply border-border;
  }
}
