/* Design System Theme Variables & Tailwind Tokens */
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@plugin "@iconify/tailwind4" {
  prefixes: solar;
}

@theme inline {
  /* Typography */
  --font-sans:
    "Pretendard Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --spacing: 0.25rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-4xl: 56rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 500;
  --tracking-wider: 0.05em;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-relaxed: 1.625;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --color-foreground-primary: #0a1217;
  --color-foreground-secondary: #0a121799;
  --color-foreground-secondary-solid: #686d70;
  --color-foreground-muted: #0a121766;
  --color-foreground-accent: #0a1217;
  --color-foreground-accent-alt: #fd2d55;
  --color-foreground-0: #0a121700;
  --color-foreground-1: #0a121703;
  --color-foreground-2: #0a121705;
  --color-foreground-3: #0a121708;
  --color-foreground-4: #0a12170a;
  --color-foreground-5: #0a12170d;
  --color-foreground-6: #0a12170f;
  --color-foreground-7: #0a121712;
  --color-foreground-8: #0a121714;
  --color-foreground-9: #0a121717;
  --color-foreground-10: #0a12171a;
  --color-foreground-15: #0a121726;
  --color-foreground-20: #0a121733;
  --color-foreground-25: #0a121740;
  --color-foreground-30: #0a12174d;
  --color-foreground-35: #0a121759;
  --color-foreground-40: #0a121766;
  --color-foreground-45: #0a121773;
  --color-foreground-50: #0a121780;
  --color-foreground-55: #0a12178c;
  --color-foreground-60: #0a121799;
  --color-foreground-65: #0a1217a6;
  --color-foreground-70: #0a1217b3;
  --color-foreground-75: #0a1217bf;
  --color-foreground-80: #0a1217cc;
  --color-foreground-85: #0a1217d9;
  --color-foreground-90: #0a1217e6;
  --color-foreground-95: #0a1217f2;
  --color-background-primary: #fff;
  --color-background-secondary: #131314f5;
  --color-background-secondary-hover: #131314ec;
  --color-background-tertiary: #131314d9;
  --color-background-tertiary-hover: #131314c2;
  --color-background-muted: #1313141a;
  --color-background-accent: #cdfe00;
  --color-alert: #ff3b30;
  --color-alert-background: #ff3b300f;
  --color-warning: #ffa82f;
  --color-warning-hover: #ffa82fcc;
  --color-warning-background: #ffa82f1a;
  --color-paper: #fafafa;
  --color-brand-zest: #ffffa1;
  --color-brand-butter: #fffd6e;
  --color-brand-lemon: #ff0;
  --color-brand-sunflower: #fe0;
  --color-brand-sunset: #fb0;
  --color-brand-wasabi: #e5ff78;
  --color-brand-neon: #cdfe00;
  --color-brand-lime: #0d0;
  --color-brand-dark-neon: #007c1b;
  --color-brand-forest: #040;
  --color-brand-ice: #e4eff7;
  --color-brand-mist: #a9efff;
  --color-brand-sky: #6acde3;
  --color-brand-royal: #0057f3;
  --color-brand-midnight: #09102b;
  --color-brand-cotton-candy: #ffd9f7;
  --color-brand-pink: #ff8cfd;
  --color-brand-bubblegum: #ff4bde;
  --color-brand-fuschia: #ef029f;
  --color-brand-maroon: #640042;
  --color-brand-peach: #ffd6c4;
  --color-brand-orange: #ff5102;
  --color-brand-scarlet: #fa0019;
  --color-brand-crimson: #9b0018;
  --color-brand-oxblood: #401220;
  --text-xs: 12px;
  --text-xs--line-height: 1.3;
  --text-xs--optical-size: 14;
  --text-sm: 14px;
  --text-sm--line-height: 1.4;
  --text-sm--optical-size: 15.1;
  --text-base: 16px;
  --text-base--line-height: 1.5;
  --text-base--optical-size: 16.2;
  --text-lg: 18px;
  --text-lg--line-height: 1.6;
  --text-lg--optical-size: 17.3;
  --text-xl: 20px;
  --text-xl--line-height: 1.6;
  --text-xl--optical-size: 18.4;
  --text-2xl: 24px;
  --text-2xl--line-height: 1.4;
  --text-2xl--optical-size: 20.5;
  --text-3xl: 34px;
  --text-3xl--line-height: 1.15;
  --text-3xl--optical-size: 26;
  --font-serif: "Sana Serif";
  --font-mono: "IBM Plex Mono", monospace;
  --z-modal-overlay: 20;
}

@layer base {
  /* Global theme application */
  body {
    @apply bg-white dark:bg-zinc-900;
    color-scheme: dark light;
  }
}
